<div class="card">
  <a [routerLink]="['/products', product!.id]">
    <img [src]="'http://localhost:8083/' + product!.image" class="card-img-top" [alt]="product!.name">
  </a>
  <div class="card-body">
    <a [routerLink]="['/products', product!.id]" class="text-decoration-none">
      <h5 class="card-title">{{ product!.name }}</h5>
    </a>
    <p class="card-text">{{ product!.description }}</p>
    <p class="card-text"><strong>Category:</strong> {{ product!.category }}</p>
    <p class="card-text"><strong>Price:</strong> {{ product!.price | currency:'INR' }}</p>
    <button (click)="addProductToCart()" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
